.ForgotPasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -40px;
    margin-left: -5%;
  }
  
  .ForgotPasswordPage form {
    background-color: white;
    padding-top: 2.5vmax;
    padding-left: 6vmax;
    padding-right: 2vmax;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 15px rgba(0,0,0,0.1);
    width: 30vmax;
    max-width: 25rem;
    height: 18rem;
  }
  
  .ForgotPasswordPage form label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .ForgotPasswordPage form .wrapper input{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    border-color: #f97c5c;
    border-width: 1px;
    border-top: 1px solid #e46545;
    padding-left: 30px;
  }
  .ForgotPasswordPage form .wrapper input:hover{
    box-shadow: 0 0 2px 1px #f26a49;
  }
  .wrapper {
    position:relative;
  }
  .wrapper .ri-mail-line {
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }
  .ForgotPasswordPage form button{
    width: 60%;
    height: 40px;
    background-color: #f26a49;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-top: 2vmax;
    margin-left: 13%;
  }
  .ForgotPasswordPage form button:hover{
    box-shadow: 0 0 2px 1px #f26a49;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .ForgotPasswordPage {
      margin-left: -30%;
    }
    .ForgotPasswordPage form button {
      margin-left: 17%;
      font-size: small;
    }
  }
  @media (max-width: 480px) {
    .ForgotPasswordPage {
      margin-left: -30%;
    }
    .ForgotPasswordPage form button {
      margin-left: 25%;
    }
    .ForgotPasswordPage form {
      padding-left: 3vmax;
      padding-right: 4.9vmax;
    }
    .ForgotPasswordPage form .wrapper input{
      width: 90%;
    }
  }
  